@page "/notebooks"

@using Microsoft.Identity.Web
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler



@if (RecentNotebookItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (RecentNotebookItems.Count < 1)
    {
        <b>Sorry you do not have any data to show</b>
    }
    else
    {
     
            <MudSimpleTable>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Link to Resource</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var a in RecentNotebookItems.CurrentPage)
                    {
                        
                        <tr>
                            <td>@a.DisplayName</td>
                            <td><MudLink Href="@a.Links.OneNoteWebUrl.Href" Target="_blank" Underline="Underline.Always">Open notebook</MudLink></td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
 
    }
}

@if (Errored)
{
    <b>Sorry :( the app errored: @ErrorText</b>
}

@code {
    INotebookGetRecentNotebooksCollectionPage RecentNotebookItems;

    bool Errored = false;
    string ErrorText = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            RecentNotebookItems = await GraphServiceClient.Me.Onenote.Notebooks.GetRecentNotebooks(true).Request().Top(20).GetAsync();
        }
        catch (Exception ex)
        {
            Errored = true;
            ErrorText = ex.Message;
        }
    }

    public class extlink
    {
        public string href { get; set; }
    }
}
